
html, body {
    margin: 0;
    padding: 0;
}

/* NavBar */
#navbar {
    display: flex;
    top: 0;
    background: rgba(0,0,0,0.8);
}

    #navbar ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

        #navbar ul li a {
            font-size: 1rem;
        }

           
