
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music Library</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/HomeIndex.css" />

</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Album">Albums</a></li>
        </ul>
    </nav>

    <!-- Header: Welcome Page -->
    <header>
        <h1>Music Library</h1>
        <p>***</p>
        <a href="/Album">Album List</a>
    </header>
</body>
</html>
